.user{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding-left: 10px;
}
body{
    background-color: #212129;
}
.content{
    margin: 15px;
    color: white;
    
}