body{
    background-color: #212129;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.header{
    background-color: #323949;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
}

.content{
    margin-top: 20px;
    margin-left: 15px;
    color: whitesmoke;
    text-align: center;
}

.dataMenu{
    position: relative;
    color: whitesmoke;
    background-color: #323949;
    margin: 16px 0;
    width: 25%;
    border: 1px solid #212129;
    padding: 0 5px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
}
.points{
    position: relative;
    margin: 15px 0;
    width: 25%;
    padding: 0 5px;
    height: 40px;
    border: none;
    border-radius: 25px;
    text-align: center;
    transition: 0.3s;
}
.done{
    position: relative;
    margin: 16px 0;
    width: 20%;
    height: 33px;
    background: pink;
    border: none;
    border-radius: 25px;
    transition: 0.5s;
}

.done:hover{
    background: rgb(231, 124, 142);
    width: 23%;
}
.show-btn{
    position: relative;
    margin-left: 15px;
    width: 10%;
    height: 33px;
    background: pink;
    border: none;
    border-radius: 25px;
    transition: 0.5s;;
}

.show-btn:hover{
    background: rgb(231, 124, 142);
    width: 11%;
}